header .top-header{
    display:flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    min-height:80px;

    background-image: url(../img/image2.jpg);
    background-size:cover;
    background-position:center;

    text-align: center;
    color:white;
    font-size:10px;
   
}

