# fichiers sensibles
config/database.php

# fichiers de test temporaires
public/test_db.php
public/hash.php

# docker data 
docker/data/

# dépendances
vendor/ 
# windows
Thumbs.db
desktop.ini
# Mac
.DS_Store

# IDE
.vscode/
.idea/